{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-use-before-define": "off",
    "linebreak-style": "off"
  },
  "globals": {
    "localStorage": false,
    "window": false,
    "Audio": false,
    "io": false,
    "$": false
  }
}
