doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='../assets/styles.css', type='text/css')
        link(rel='stylesheet', href='../assets/custom-styles.css', type='text/css')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script(src='/socket.io/socket.io.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.6/chroma.min.js')
        script(src='../client/sockets.js')
        script(src='../client/stream.js')
        if sceneName == 'alerts'
            script(src='../client/audio.js')

    body
        <div id="minion-bee-doo" class="minion-div">
            <h3>Cop Mode Initiated!</h3>
            img(src='../assets/minion.gif')
        </div>
        <div id="container">
            <iframe src="#{iframeSrc}" frameBorder="0" overflow="hidden" scrolling="no" seamless="seamless" allow="autoplay" />
        </div>
