doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='../assets/styles.css', type='text/css')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script(src='../client/overlay-colors.js')
    body
        <label>Enter Overlay URL:</label>
        input#overlay-url(style={height:'40px;', width:'600px;'})
        button#get-overlay(style={height:'40px;', width:'100px;'}) Submit
        br
        button#increase-hue(style={height:'40px;', width:'70px;'}) Up ⬆
        button#decrease-hue(style={height:'40px;', width:'70px;'}) Down ⬇
        input#rotation(style={height:'40px;', width:'100px;'})
        button#update-hue(style={height:'40px;', width:'70px;'}) Update Hue
        input#color-name(style={height:'40px;', width:'100px;'})
        button#save-color(style={height:'40px;', width:'70px;'}) Save Color
        br        
        div#container
            iframe#overlay-frame(style={height:'720px;', width:'1280px;'})