#minion-bee-doo {
  z-index: 14;
  border: none;
  position: absolute;
  overflow: hidden;
  transition: all 0.5s ease;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.copmode-hidden {
  opacity: 0;
  top: -300px;
}
.copmode-visible {
  opacity: 1;
  top: calc(50% - 50px);
}
